@font-face {
	font-family: body;
	src: url("/resources/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
	font-family: body;
	src: url("/resources/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
	font-weight: bold;
}

@font-face {
	font-family: title;
	src: url("/resources/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
	font-family: title;
	src: url("/resources/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
	font-weight: bold;
}

html {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5;
	overflow-x: hidden;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100%;
	z-index: -1;
	background-color: rgb(251, 191, 36);
}

header {
	position: relative;
	padding-top: 5em;
	padding-bottom: 3em;
	color: black;
	margin-bottom: 2em;
}

body {
	font-size: 1em;
	color: #ffffff;
	padding: 0;
	margin: 0 auto;
	background-color: #111118;
	font-family: body, serif;
}

h1,
h2,
h3,
.major,
.minor {
	line-height: 1;
	font-weight: bold;
	font-family: title, sans-serif;
}

h1,
h2,
h3 {
	margin: 10px 0 10px 0;
}

.major,
.minor {
	margin: 20px 0 20px 0;
}

h1 {
	font-size: 3em;
	line-height: 1.2;
}

h2,
.major {
	font-size: 2em;
}

h3,
.minor {
	font-weight: normal;
	font-size: 1.5em;
}

details {
	border-bottom: 1px solid white;
	margin-top: 20px;
}

details summary {
	font-family: title;
	font-size: 1.5em;
}

section,
footer {
	position: relative;
	padding: 2em 0;
}

section:first-of-type {
	padding-top: 2em;
}

section:last-of-type {
	padding-bottom: 2em;
}

section:nth-of-type(even)::before,
footer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100%;
	z-index: -1;
	background-color: #181820;
}

.center-width {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

	padding-left: 1em;
	padding-right: 1em;
}

.vid,
.image {
	width: 100%;
	aspect-ratio: 16 / 9;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	display: block;
	border-radius: 10px;
}

#mainvid {
	box-shadow:
		0px 0px 300px 5px rgba(147, 168, 250, 0.5),
		0px 0px 50px 5px #ffff;
	max-width: 1000px;
	margin-top: clamp(0px, calc((100vw - 1000px) / 2), 3em);
	margin-bottom: 3em;
}

.carousel {
	display: flex;
	overflow-x: auto;
	gap: 20px;
	padding: 20px;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	align-items: flex-start;
}

.carousel img {
	height: auto;
	max-width: min(1000px, 90%);
	flex-shrink: 0;
	scroll-snap-align: center;
	object-fit: contain;
}

.carousel img:first-of-type {
	margin-left: 50vw;
}

.carousel img:last-of-type {
	margin-right: 50vw;
}

iframe {
	border: none;
}

a {
	color: #00eeee;
}

a:hover,
a:focus-visible {
	color: rgb(251, 191, 36);
}

a img {
	vertical-align: top;
}

.columns {
	display: flex;
	gap: 1em;
}

.columns > * {
	flex: 1;
	align-self: flex-start;
}

@media screen and (max-width: 1000px) {
	#mainvid {
		border-radius: 0;
		margin-bottom: 2em;
		box-shadow: 0px 0px 300px 5px rgba(147, 168, 250, 0.5);
	}
}

@media screen and (min-width: 600px) {
	.columns .center-width {
		padding: 0;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 2em;
	}

	h2,
	h3 {
		font-size: 1.5em;
	}

	body {
		margin: 0;
		padding: 0;
		padding-left: 0px;
		padding-right: 0px;
	}

	.vid {
		border-radius: 0;
	}

	.carousel {
		gap: 10px;
		padding: 10px; /* align shorter images at top */
	}

	.hide-mobile {
		display: none !important;
	}

	.columns {
		display: block;
		padding: 0;
	}
}
