@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Space Grotesk", sans-serif;
    --color-amber-400: rgb(251, 191, 36);
    --color-bg: #111118;
    --color-link: #00eeee;
}
