@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Space Grotesk", sans-serif;
    --color-amber-400: rgb(251, 191, 36);
    --color-bg: #111118;
    --color-link: #00eeee;
}

html {
    font-size: 1.2em;
    line-height: 1.5;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    background-color: var(--color-bg);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: var(--color-amber-400);
}

a {
    color: var(--color-link);
}

a:hover,
a:focus-visible {
    color: var(--color-amber-400);
}
