---
interface Props {
    href: string;
}

const { href } = Astro.props;

if (!Astro.site) {
    throw new Error("'site' property must be set in Astro config (astro.config.mjs)");
}
const url = new URL(href, Astro.url.href);
const isExternal = !(url.hostname === Astro.site.hostname || url.hostname.endsWith('.' + Astro.site.hostname));
---

<a
    href={href}
    target="_blank"
    rel={isExternal ? "noopener noreferrer" : undefined}
    class="underline text-[#C9A0DC] hover:text-amber-400 focus-visible:text-amber-400"
>
    <slot />
</a>
